<h1>Hello Mr.<%= @appointment.name %></h1> 
<p style="color: green;">Thanks for your interest in our lms app soon you will receive our confirmation mail !</p>

<table>
<tr><td><b>Patent Name</b>:<td></td> <%= @appointment.name %><td></tr>
<tr><td><b>Address<b> <td></td>:<%= @appointment.address %><td></tr>
<tr><td><b>Phone Number<b><td></td><%= @appointment.phonenum %><td></tr>
<tr><td><b>e-mail Address<b>:<td></td> <%= @appointment.email %><td></tr>
</table>










 
