<h1>Editing collection_centers_charge</h1>

<% form_for(@collection_centers_charge) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :s_no %><br />
    <%= f.text_field :s_no %>
  </p>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :discount_per %><br />
    <%= f.text_field :discount_per %>
  </p>
  <p>
    <%= f.label :discount_amt %><br />
    <%= f.text_field :discount_amt %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @collection_centers_charge %> |
<%= link_to 'Back', collection_centers_charges_path %>