<p>
  <b>S no:</b>
  <%=h @collection_centers_charge.s_no %>
</p>

<p>
  <b>Id:</b>
  <%=h @collection_centers_charge.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @collection_centers_charge.name %>
</p>

<p>
  <b>Price:</b>
  <%=h @collection_centers_charge.price %>
</p>

<p>
  <b>Discount per:</b>
  <%=h @collection_centers_charge.discount_per %>
</p>

<p>
  <b>Discount amt:</b>
  <%=h @collection_centers_charge.discount_amt %>
</p>

<p>
  <b>Cost:</b>
  <%=h @collection_centers_charge.cost %>
</p>


<%= link_to 'Edit', edit_collection_centers_charge_path(@collection_centers_charge) %> |
<%= link_to 'Back', collection_centers_charges_path %>