<p>
  <b>Branch code:</b>
  <%=h @test_sub_group.branch_code %>
</p>

<p>
  <b>Branch location:</b>
  <%=h @test_sub_group.branch_location %>
</p>

<p>
  <b>Discontinued:</b>
  <%=h @test_sub_group.discontinued %>
</p>

<p>
  <b>Group name:</b>
<% @test=TestGroup.find(@test_sub_group.test_group_id) %>
  <%=h @test.group_name %>
</p>

<p>
  <b>Sub group:</b>
  <%=h @test_sub_group.sub_group_id %>
</p>

<p>
  <b>Sub group name:</b>
  <%=h @test_sub_group.sub_group_name %>
</p>


<%= link_to 'Edit', edit_test_sub_group_path(@test_sub_group) %> |
<%= link_to 'Back', test_sub_groups_path %>
