<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#example3').dataTable( {
			"bJQueryUI": true,
			"sPaginationType": "full_numbers"
		} );
  	} );
</script>
<div id="demo">
		<center><font color='blue' style="font-weight:bold;">Charge Master <%= @button_name.capitalize %> List</font></center>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example3" width="100%">
		<thead>
			<tr>
				<th>S.No</th>
				<th>Group</th>
				<th>Sub Group</th>
				<th>Test name</th>
				<th>Price</th>
				<th>Collection Center Type</th>
				<th>Referral Type</th>
			</tr>
		</thead>
		<tbody>
			<% i=1 %>
			<% @charge_masters.each do |charge_master| %>
			   <% if(@button_name=="edit") %>
			  		<tr onClick="add_edit_url('<%= charge_master.id %>')">
			  	<% elsif(@button_name=="form_edit") %>
			  		<tr onClick="add_client_edit_url('<%= charge_master.id %>')">
				<% elsif(@button_name=="delete") %>
			  		<tr onClick="if(confirm('Are you sure')) delete_record('<%= charge_master.id %>');">
				<% elsif(@button_name=="print") %>
			  		<tr onClick="window.open('/newlab/charge_masters/show/<%= charge_master.id %>','open_window','dependent, width=850, height=500,top=50,left=100');">
				<% else %>
					<tr>
				<% end %>
			    <td><%= i %></td>
 				 <td><%=h TestGroup.find_by_sql("select group_name from test_groups where id='#{charge_master.test_group_id}'")[0].group_name %></td>
				 <td><%=h TestSubGroup.find_by_sql("select sub_group_name from test_sub_groups where id='#{charge_master.test_sub_group_id}'")[0].sub_group_name %></td>
				<% @test=TestMaster.find_by_id(charge_master.test_master_id) %>
				<% if(@test) %>
				<td> <%=h @test.test_name %></td>
				<% else %>
				<td>&nbsp;</td>
<% end %>
				 <td><%=h number_with_precision(charge_master.price, :precision => 2, :separator => '.') %></td>
				 <td><%=h charge_master.collection_center_type %></td>
				 <td><%=h charge_master.referral_type %></td>
			  </tr>
			  <% i=i+1 %>
			<% end %>
		</tbody>
		<tfoot>
	</table>
</div>
<div class="spacer"></div>
